.home_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; h1{
        font-family: 'Poppins';
    
    }img{
        width: auto;
        border-radius: 10px;
        
    }
}





.dash_container{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    /* margin: 5px 5px; */
    border: 1px solid #0D0D0B;
    /* border-radius: 10px; */
    align-items: left;
    background: #0D0D0B;   

    height: 100vh; 
    gap: 35px;
}

.main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: #F7F7F7 cover 100%;
    /* padding: 5px; */
}
h1 {
    color: #B3241F;
    cursor: pointer;
    font-family: 'Poppins';
}

.link{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 800;
}
.menu_continer{
    display: flex;
    gap: 30px;
    margin-left: 30px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    background-color: #000;
    border-radius: 20px;
}
.b2c{
    text-decoration: none;

}
.child{
    display: flex;
    align-items: center;
    justify-content: left;
    background: blue;
}
.Logo{
    text-decoration: none; h1{
        text-align: center;
    }
}
.hamburger_menu{
    display: none;
  
}

@media (max-width: 900px) {
    .child{
        display: flex;
        align-items:left;
        justify-content: left;
        background: blue;
    }
  
    .hamburger_menu{
        text-decoration: none;
        display: flex;
        h1{
            color: #B3241F;
            font-size: 1em;
            margin-left: 10px;
            font-family: "Roboto", sans-serif;
            font-weight: 800;
        }
    }
    .dash_container{
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        margin: 0;
        border: 1px solid #0D0D0B;
        border-radius: 0px;
        align-items: left;
        background: #0D0D0B cover 100%;
        width: auto; 
        height: 100vh;  
        gap: 20px;
    }
    
    .main{
        display: flex;
        flex-direction: column;
        background: #F7F7F7 cover 100%;
    }
    .h1 {
        display: none;
        color: #B3241F;
        cursor: pointer;
        font-family: 'Poppins';
        font-size: 12px;
    }
    
    .link{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        text-decoration: none;
        font-size: 18px;
        font-family: 'Poppins';
        font-weight: 800;
/* 
        position: fixed;
        top: 0;
        left: -250px; 
        background: #333;
        transition: left 0.3s ease;   */
    }
    .menu_continer{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 auto;
    }
    .menu{
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 200px;
        background-color: #000;
        border-radius: 20px;
    }
    .b2c{
        text-decoration: none;
    
    }
    .Logo{
        text-decoration: none; h1{
            text-align: center;
        }
    }
   
}
@media (max-width: 400px) {
    .menu{
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
        background-color: #000;
        border-radius: 20px;
    }
}